<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>We nee camera access to take photos</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to show nearby golf courses&lt;</string>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
</dict>
</plist>
